# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
#[Bb]uild
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.json
*.sln
*.csproj
*.userprefs
*.a
*.apk
*.ipa
*.lib
*.pyc
*.meta
*.so
*.unitypackage
deployments/native
deployments/combined
deployments/UnityMixpanel/Library
deployments/UnityMixpanel/UnityPackageManager
deployments/UnityMixpanel/Temp
deployments/UnityMixpanel/ProjectSettings
deployments/UnityMixpanel/Assets/Plugins/MixpanelSDK.bundle/Contents/MacOS/MixpanelSDK
deployments/UnityMixpanel/IOSTestExport
docs/html
native/build/.idea
native/build/build-*
native/build/JUnit-*
native/build/UnityPackageExport.log
native/build/bin
native/build/CMakeFiles
native/tests/.idea
deployments/UnityMixpanel/ProjectSettings/*.asset
